@{
    if (Session["Cliente"] != null)
    {
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    else
    {
        Session.Abandon();

        Response.Redirect("~/Clientes/Login");
    }

}

<h2>Menu clientes</h2>
<p>
    @Html.ActionLink("Buscar", "Buscar", "Productoes")
</p>
<p>
    @Html.ActionLink("Carrito", "Carrito", "Items")
</p>
<p>
    @Html.ActionLink("Pedidos", "Listapedidos", "Pedidoes")
</p>

